<div class="container">
    <a href="/blog/{{id}}">
        <div>
            <div>{{blog-details}}</div>
            <div>{{user.user_name}}</div>
            <div>{{createdAt}}</div>
        </div>
    </a>

</div>